 <div *ngIf="countryParticipations !== undefined">
  <h2>{{ this.country }}</h2>
  <div class="data">
    <span>Number of entries <br> 
      <p>{{ this.countryParticipations.length }}</p>
    </span>
    <span>Total number medals <br>
    <p> {{ this.totalMedals }}</p>
    </span>
    <span>Total number of athletes<br>
       <p>{{ this.totalAthletes }}</p>
    </span>
  </div>
   <apx-chart
       [series]="chartOptions.series"
       [chart]="chartOptions.chart"
       [xaxis]="chartOptions.xaxis"
       [yaxis]="chartOptions.yaxis"
       [title]="chartOptions.title"
     ></apx-chart>
 </div>
  <button (click)="goToDashboard()">Retour à la page d'accueil</button>

